:root.theme-dark {
  --accent-color: rgba(255, 0, 112, 1);
  --accent-opacity-color: rgba(255, 0, 112, 0.4);
  --header-title-color: rgba(219, 0, 255, 1);
  --title-color: rgba(255, 0, 112, 1);
  --font-color: rgba(241, 178, 206, 1);
  --font-decor-color: rgba(0, 0, 40, 1);
  --background-image: url(../images/cover-image-dark.png);
  --background-color: rgba(0, 0, 40, 1);
}

.theme-dark .header__dark-decorated-element {
  display: block;
}
