:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --accent-opacity-color: rgba(53, 52, 48, 0.4);
  --header-title-color: rgba(255, 194, 230, 1);
  --title-color: rgba(53, 52, 48, 1);
  --font-color: rgba(53, 52, 48, 1);
  --font-decor-color: rgba(53, 52, 48, 1);
  --background-image: url(../images/cover-image-light.png);
  --background-color: rgba(255, 241, 247, 1);
}

.theme-light .header__dark-decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --accent-opacity-color: rgba(53, 52, 48, 0.4);
    --header-title-color: rgba(255, 194, 230, 1);
    --title-color: rgba(53, 52, 48, 1);
    --font-color: rgba(53, 52, 48, 1);
    --font-decor-color: rgba(53, 52, 48, 1);
    --background-image: url(../images/cover-image-light.png);
    --background-color: rgba(255, 241, 247, 1);
  }
  .header__dark-decorated-element {
    display: none;
  }
}
