/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--font-family), sans-serif;
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--font-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  margin-block-end: var(--header-footer-margin-small-screen);
  padding-block: var(--small-screen-padding);
}

main {
  margin: 0 auto;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--small-screen-padding);
  right: 0;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--title-color);
  border-inline-end: 1px solid var(--title-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--small-screen-padding);
  left: 0;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--title-color);
  border-inline-start: 1px solid var(--title-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__title {
  justify-self: start;
}

.header-footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: bold;
  text-transform: lowercase;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  display: inline-block;
  justify-self: end;
  align-self: center;
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-decor-color);
}

.header__dark-decorated-element {
  position: absolute;
  top: var(--small-screen-padding);
  right: 0;
}

.header__dark-decorated-element::before {
  content: "REC";
  color: var(--accent-color);
  margin-inline-end: 10px;
  line-height: 25px;
}

.header__dark-decorated-element::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-inline-end: 9px;
  margin-block-end: 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  padding-block-start: 1.5px;
  padding-block-end: 5px;
  padding-inline: 13px;
  color: var(--title-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-opacity-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-color);
  pointer-events: none;
}

.content-section {
  margin-block-end: var(--section-margin-small-screen);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section:last-child {
  margin-block-end: 0;
}

.section__title {
  font-size: 18px;
  color: var(--title-color);
}

.content__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card__title {
  font-size: var(--font-size);
  font-weight: bold;
  margin-block-end: 10px;
}

.how__subtitle {
  font-weight: bold;
}

.section__how .card__title {
  font-weight: normal;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--font-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--font-color);
}

.gallery {
  gap: 10px;
}

.gallery__title {
  font-size: var(--font-size);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin: 0 auto;
  margin-block-start: var(--header-footer-margin-small-screen);
  block-size: 100vh;
  padding-block: var(--small-screen-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .page {
    padding-inline: var(--big-screen-padding);
  }
  .header {
    margin-block-end: var(--header-footer-margin-big-screen);
    padding-block: var(--big-screen-padding);
  }
  .decorated-zone::before {
    top: var(--big-screen-padding);
  }
  .decorated-zone::after {
    bottom: var(--big-screen-padding);
  }
  .header__dark-decorated-element {
    top: var(--big-screen-padding);
  }
  .header-footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__title {
    margin-inline-start: -19px;
  }
  .header__text {
    inline-size: calc(50vw - var(--big-screen-padding));
  }
  .content-section {
    margin-block-end: var(--section-margin-big-screen);
    grid-template-columns: repeat(3, 1fr);
  }
  .section__why {
    grid-template-columns: 1fr 2fr;
  }
  .section__why .section__title {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content__why {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .section__what .section__title {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content__what {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .section__how {
    grid-template-columns: 1fr 2fr;
  }
  .section__how .section__title {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content__how {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .gallery {
    gap: 20px;
  }
  .gallery__title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery-image-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery-image-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .gallery-image-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .gallery-image-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery-image-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .footer {
    margin-block-start: var(--header-footer-margin-big-screen);
    padding-block: var(--big-screen-padding);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .content__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .section__why {
    grid-template-columns: repeat(3, 1fr);
  }
  .content__why {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .section__how {
    grid-template-columns: repeat(3, 1fr);
  }
  .content__how {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

